theme = "zenwritten"

[editor]
line-number = "relative"
mouse = false
inline-completion-auto-trigger = true
end-of-line-diagnostics = "hint"
inline-completion-timeout = 150

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[keys.insert]
C-a = "inline_completion_accept"

[keys.normal]
C-y = [
  ':sh rm -f /tmp/unique-file',
  ':insert-output yazi "%{buffer_name}" --chooser-file=/tmp/unique-file',
  ':sh printf "\x1b[?1049h\x1b[?2004h" > /dev/tty',
  ':open %sh{cat /tmp/unique-file}',
  ':redraw',
]
